In [3]:
import pandas as pd

# Data Cleaning
We will now clean the data we scraped from Tagvenue.

## Setup

In [27]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 0

## Importing Data
Below we import the general venue data and the prices data as dataframes. Metadata for both tables can be found in the repo Readme.

In [17]:
venues = pd.read_csv('../data/raw_scraped_data/tag_venue_space_data_31-Jul-22.csv')
prices = pd.read_csv('../data/raw_scraped_data/tag_venue_space_prices_31-Jul-22.csv')

## Cleaning Prices Data
We will start by cleaning the prices data which is previewed below:

In [18]:
prices.head()

                                           space_url  ... price_type
0  https://www.tagvenue.com/rooms/london/19171/th...  ...       £360
1  https://www.tagvenue.com/rooms/london/19171/th...  ...       £360
2  https://www.tagvenue.com/rooms/london/19171/th...  ...       £360
3  https://www.tagvenue.com/rooms/london/19171/th...  ...       £360
4  https://www.tagvenue.com/rooms/london/19171/th...  ...       £360

[5 rows x 11 columns]

In [20]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54662 entries, 0 to 54661
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   space_url       54662 non-null  object
 1   venue_url       54662 non-null  object
 2   venue_name      54662 non-null  object
 3   space_name      54662 non-null  object
 4   latitude        54662 non-null  float64
 5   longitude       54662 non-null  float64
 6   day_of_week     54662 non-null  object
 7   pricing_period  54662 non-null  object
 8   time_period     51736 non-null  object
 9   price           51736 non-null  object
 10  price_type      51736 non-null  object
dtypes: float64(2), object(9)
memory usage: 4.6+ MB

In [24]:
prices.describe(include = 'all')

                                                space_url  ... price_type
count                                               54662  ...      51736
unique                                               4761  ...       1118
top     https://www.tagvenue.com/rooms/london/19621/fi...  ...       £500
freq                                                   56  ...       2485
mean                                                  NaN  ...        NaN
std                                                   NaN  ...        NaN
min                                                   NaN  ...        NaN
25%                                                   NaN  ...        NaN
50%                                                   NaN  ...        NaN
75%                                                   NaN  ...        NaN
max                                                   NaN  ...        NaN

[11 rows x 11 columns]

In [29]:
prices.time_period.head(100)

0      6:00 –
1      6:00 –
2      6:00 –
3      6:00 –
4      6:00 –
5      6:00 –
6      6:00 –
7      9:00 –
8      9:00 –
9      9:00 –
10     9:00 –
11     9:00 –
12     9:00 –
13     9:00 –
14     9:00 –
15     9:00 –
16     9:00 –
17        NaN
18        NaN
19     9:00 –
20     9:00 –
21     9:00 –
22     9:00 –
23     9:00 –
24     9:00 –
25     9:00 –
26     7:00 –
27     7:00 –
28     7:00 –
29     7:00 –
30     7:00 –
31        NaN
32        NaN
33    17:00 –
34    17:00 –
35    17:00 –
36    17:00 –
37    17:00 –
38    17:00 –
39    17:00 –
40     6:00 –
41     6:00 –
42     6:00 –
43     6:00 –
44     6:00 –
45     6:00 –
46     6:00 –
47     6:00 –
48     6:00 –
49     6:00 –
50     6:00 –
51     6:00 –
52     6:00 –
53     6:00 –
54     9:00 –
55     9:00 –
56     9:00 –
57     9:00 –
58     9:00 –
59     9:00 –
60     9:00 –
61    18:30 –
62     8:30 –
63     8:30 –
64     8:30 –
65    18:30 –
66     8:30 –
67     8:30 –
68     8:30 –
69    18:30 –
70     8:30 –
71     8:30 –
72     8:30 –
73    18:30 –
74     8:30 –
75     8:30 –
76     8:30 –
77    18:30 –
78     8:30 –
79     8:30 –
80     8:30 –
81    18:30 –
82     8:30 –
83     8:30 –
84     8:30 –
85    18:30 –
86     8:30 –
87     8:30 –
88     8:30 –
89     7:30 –
90    12:00 –
91    18:00 –
92     9:00 –
93     7:30 –
94    12:00 –
95    18:00 –
96     9:00 –
97     7:30 –
98    12:00 –
99    18:00 –
Name: time_period, dtype: object