In [28]:
import pandas as pd
import numpy as np

# Data Cleaning
We will now clean the data we scraped from Tagvenue. 

**Important Note!** -> if re-running the script after scraping new data, you must ensure the 'price_type' column contains the combined prices types 'hire fee + min. spend' and 'hire fee + per person' **only**. If there are new combined prices or they no longer have the exact same wording, then you need to check the price cleaning section and make sure it is still compatible. 

Jump to [here](#pricing_strings) to see the unique values of *price_type*

Jump to [here](#pricing_clean) to see the functions that may be incompatible with changes to *price_type*

## Setup

In [29]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 0

## Importing Data
Below we import the general venue data and the prices data as dataframes. Metadata for both tables can be found in the repo Readme.

In [30]:
venues = pd.read_csv('../data/raw_scraped_data/tag_venue_space_data_31-Jul-22.csv')
prices = pd.read_csv('../data/raw_scraped_data/tag_venue_space_prices_31-Jul-22.csv')

## Cleaning Prices Data
### Overview
We will start by cleaning the prices data which is previewed below:

In [31]:
prices.head()

                                           space_url  ...         price_type
0  https://www.tagvenue.com/rooms/london/19171/th...  ...  hire fee per hour
1  https://www.tagvenue.com/rooms/london/19171/th...  ...  hire fee per hour
2  https://www.tagvenue.com/rooms/london/19171/th...  ...  hire fee per hour
3  https://www.tagvenue.com/rooms/london/19171/th...  ...  hire fee per hour
4  https://www.tagvenue.com/rooms/london/19171/th...  ...  hire fee per hour

[5 rows x 12 columns]

In [32]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54662 entries, 0 to 54661
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   space_url       54662 non-null  object
 1   venue_url       54662 non-null  object
 2   venue_name      54662 non-null  object
 3   space_name      54662 non-null  object
 4   latitude        54662 non-null  float64
 5   longitude       54662 non-null  float64
 6   day_of_week     54662 non-null  object
 7   pricing_period  54662 non-null  object
 8   time_from       51736 non-null  object
 9   time_to         51736 non-null  object
 10  price           51736 non-null  object
 11  price_type      51736 non-null  object
dtypes: float64(2), object(10)
memory usage: 5.0+ MB

In [33]:
prices.describe(include = 'all')

                                                space_url  ... price_type
count                                               54662  ...      51736
unique                                               4761  ...          6
top     https://www.tagvenue.com/rooms/london/19621/fi...  ...   hire fee
freq                                                   56  ...      17770
mean                                                  NaN  ...        NaN
std                                                   NaN  ...        NaN
min                                                   NaN  ...        NaN
25%                                                   NaN  ...        NaN
50%                                                   NaN  ...        NaN
75%                                                   NaN  ...        NaN
max                                                   NaN  ...        NaN

[11 rows x 12 columns]

### Cleaning URLs
Below we check the space_url and venue_url columns contain no spaces and all start with 'https:://www.tagvenue.com'

In [34]:
# Confirm that no rows contain a ' ' character, should return no rows  
prices[prices.space_url.str.contains(" ")]

Empty DataFrame
Columns: [space_url, venue_url, venue_name, space_name, latitude, longitude, day_of_week, pricing_period, time_from, time_to, price, price_type]
Index: []

In [35]:
# Confirm that no rows contain a ' ' character, should return no rows  
prices[prices.venue_url.str.contains(" ")]

Empty DataFrame
Columns: [space_url, venue_url, venue_name, space_name, latitude, longitude, day_of_week, pricing_period, time_from, time_to, price, price_type]
Index: []

In [36]:
# Confirm all rows start with 'https://www.tagvenue.com'
assert(prices.space_url.str.contains(r'^https://www.tagvenue.com')).all()

In [37]:
# Confirm all rows start with 'https://www.tagvenue.com'
assert(prices.venue_url.str.contains(r'^https://www.tagvenue.com')).all()

### Cleaning Venue and Space Names
Below we remove leading or trailing whitspace from the venue_name and space_name columns:

In [38]:
prices.venue_name = prices.venue_name.str.strip()
prices.space_name = prices.space_name.str.strip()

### Cleaning Longitude and Latitude
Below we check that the latitude and longitude values are all within the max and min latitude and longitude values defined in our web scrape:

In [39]:
# Max and min latitude and longiotude values from web scrape:
latitude_min = 51.326626 
latitude_max = 51.7297765
longitude_min = -0.446500003
longitude_max = 0.2190751

assert(prices.latitude.min() > latitude_min)
assert(prices.latitude.max() < latitude_max)
assert(prices.longitude.min() > longitude_min)
assert(prices.longitude.max() < longitude_max)

<a id='pricing_strings'></a>
### Cleaning Pricing Strings
Below we review all string values taken by each of the following columns: 
- day_of_week
- pricing_period
- price_type

In [40]:
prices.day_of_week.unique()

array(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'], dtype=object)

In [41]:
prices.pricing_period.unique()

array(['Per hour', 'Per day', 'closed', 'Per evening', 'Per session',
       'Per morning', 'Per afternoon'], dtype=object)

In [42]:
prices.price_type.unique()

array(['hire fee per hour', 'hire fee', 'per person', nan, 'min. spend',
       'hire fee + min. spend', 'hire fee + per person'], dtype=object)

**Observations:** 

All columns have a small number of tidy strings that don't require cleaning. The nan values in *price_type* were to be expected, that is the value if the space is closed on a particular day (if 'pricing_period' is 'closed'). 

We need to confirm that the nan values occur across the final four columns of the prices dataframe only when the pricing_period is set to 'closed'.

In [43]:
# filter on rows with pricing_period = 'closed'
closed_rows = prices[(prices.pricing_period == 'closed')]
# Drops 'closed' rows from dataframe
dropped_closed_rows = prices.drop(closed_rows.index)
# Display all rows in dataframe with a nan value
dropped_closed_rows[dropped_closed_rows.isna().any(axis=1)]

Empty DataFrame
Columns: [space_url, venue_url, venue_name, space_name, latitude, longitude, day_of_week, pricing_period, time_from, time_to, price, price_type]
Index: []

We have shown that after removing rows with pricing_period set to 'closed' that there are no more nan values in the dataframe. Thus all the nan values correspond with a day the space is closed and thus all the nan values were to be expected. We will remove these rows in our prices dataframe.

In [44]:
prices = dropped_closed_rows
prices = prices.reset_index(drop = True)

### Cleaning Time Form and To
Firstly, we will clean the time_from column to remove the trailing '-' strings

In [45]:
# Remove '-' from time_from and any remaining whitespace
prices.time_from = prices.time_from.str.replace('–','').str.strip()

Now we will convert the time data into floats e.g. '5:30' becomes '5.5'. We decided this was the easiest way to manipulate and graph the times.

In [46]:
# Convert time to datetime object
from_time = pd.to_datetime(prices['time_from'], format='%H:%M')
# Extract and combine hours and minutes data into decimal form. 
prices.time_from = from_time.dt.hour + from_time.dt.minute / 60 

to_time = pd.to_datetime(prices['time_to'], format='%H:%M')
prices.time_to = to_time.dt.hour + to_time.dt.minute / 60

Finally, we will calculate the time period between the time_from and time_to columns (in hours). Note that in this calculation, we calculate *time_to* - *time_from*. This sometimes gives a negative answer due to midnight going back to 0 in a 24 hour clock e.g. if time_to = 0.0 (midnight) and time_from = 6.0 (6 am) then the subtraction gives us -6. To get the correct answer we add 24 e.g. this becomes 18.

In [47]:
# subtract time_to and time_from
prices.insert(10, 'time_period', prices.time_to - prices.time_from)
# Where the answer was negative, add 24
prices['time_period'] = np.where(prices.time_period < 0, 
                                 prices.time_period + 24, 
                                 prices.time_period)

<a id='pricing_clean'></a>
### Cleaning Price and Price Type
We will now clean the price and price type columns. There are 2 complicated cases for price and price type. When Price type is equal to 'hire fee + min. spend' or 'hire fee + per person' then the price is recorded as '£price + £price' where each price corresponds to the prices types. An example is shown below: 

**price_type** -> 'hire fee + min. spend'

**price** -> '£300 + £400' 

In this example, the hire fee is £300 and the minimum spend is £400. For all other price_types, there is only a single price provided e.g. 'per person' price_type might have a price of '£50'. 

We wish to create a new column, 'total_price' that has the total price rather than 2 prices being added together. e.g. '£300 + £400' becomes '£700'. But we also want to preserve the individual costs of hire fee and minimum spend / per person. As such, we will also create 3 new columns that contain the individual contributions to total_price of hire fee, minimum spend and per person respectively. These columns will be null for all rows except those using either 'hire fee + min. spend' or 'hire fee + per person' as the price type.

Below we build the new columns and replace the 'price' column with 'total_price'.

In [49]:
def split_cols(price, type_):
    """Return list of cleaned price data.  
    
    If the price is a combination of prices, it will calculate the total
    price and also return the individual contributions of rent price, per 
    person and min spend."""
    # remove '£' from prices
    price = price.replace('£','')
    # checks if this price contains a '+' 
    if '+' in price:
        # splits prices between '+' into list
        price_list = price.split('+')
        # splits price type between '+' into list
        type_list = type_.split('+')
        total_price = float(price_list[0]) + float(price_list[1])
        # first price is always rent price (format is
        # '£rent price + £per person OR min. spend')
        rent_price = float(price_list[0])
        # If type includes 'min. spend' then the second price is minimum spend 
        if 'min.spend' in type_:
            min_spend = float(price_list[1])
            per_person = np.nan
        # Otherewise the second price must be per person
        else: 
            min_spend = np.nan
            per_person = float(price_list[1])
        return [total_price, type_, rent_price, min_spend, per_person]
    # returns just type and price, leaving rest of list nan if the 
    # price is not combined   
    return [float(price), type_, np.nan, np.nan, np.nan]
    
# Apply split_cols to the price and price_type columns
cleaned_price_data = [split_cols(price, type_)for price, type_ 
                      in zip(prices.price, prices.price_type)]
# Create the new columns we want
cleaned_price_df = pd.DataFrame(cleaned_price_data, 
                                columns = ['total_price', 'price_type', 
                                           'rent_price_split', 
                                           'min_spend_split', 
                                           'per_person_split'])
# drops columns we dont want anymore
prices.drop(columns = ['price', 'price_type'], inplace = True)
# Add new columns to data
prices = prices.join(cleaned_price_df)
prices.head()

AttributeError: 'DataFrame' object has no attribute 'price'

## Cleaning General Venue Data
We will now clean the general venues data previewed below:

In [50]:
venues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4761 entries, 0 to 4760
Data columns (total 92 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   space_url                                          4761 non-null   object
 1   venue_url                                          4761 non-null   object
 2   venue_name                                         4761 non-null   object
 3   space_name                                         4761 non-null   object
 4   latitude                                           4761 non-null   float64
 5   longitude                                          4761 non-null   float64
 6   address                                            4761 non-null   object
 7   nearest_tube_station                               4425 non-null   object
 8   max_seated                                         4761 non-null   int64
 9   max_standing                                       4761 non-null   int64
 10  area_in_m2                                         4761 non-null   int64
 11  catering_offered                                   4761 non-null   object
 12  external_catering_allowed                          4761 non-null   object
 13  supervenue                                         4761 non-null   bool
 14  Standing_max                                       3788 non-null   float64
 15  Dining_max                                         3247 non-null   float64
 16  Theatre_max                                        1938 non-null   float64
 17  Boardroom_max                                      2122 non-null   float64
 18  Classroom_max                                      1300 non-null   float64
 19  Cabaret_max                                        1408 non-null   float64
 20  U-Shaped_max                                       1170 non-null   float64
 21  Approved caterers only                             4761 non-null   int64
 22  BYO alcohol allowed                                4761 non-null   int64
 23  BYO alcohol not allowed                            4761 non-null   int64
 24  External catering allowed                          4761 non-null   int64
 25  External catering not allowed                      4761 non-null   int64
 26  In-house catering                                  4761 non-null   int64
 27  No in-house catering                               4761 non-null   int64
 28  Venue doesn’t provide alcohol                      4761 non-null   int64
 29  Venue provides alcohol                             4761 non-null   int64
 30  Alcohol licence until 23:00                        529 non-null    object
 31  Corkage fee for BYO alcohol                        1155 non-null   object
 32  Buyout fee for external catering                   1156 non-null   object
 33  Kitchen facilities available for guests            1156 non-null   object
 34  Complimentary water                                4761 non-null   float64
 35  Complimentary tea and coffee                       4761 non-null   float64
 36  Alcohol licence until 23:00 (extension available)  469 non-null    object
 37  Halal menu                                         3902 non-null   object
 38  Kosher menu                                        3902 non-null   object
 39  Extensive vegan menu                               3902 non-null   object
 40  Extensive gluten-free menu                         3902 non-null   object
 41  Alcohol licence until 1:30                         17 non-null     object
 42  Alcohol licence until 1:00                         265 non-null    object
 43  Alcohol licence until 0:00                         429 non-null    object
 44  Alcohol licence until 1:00 (extension available)   380 non-null    object
 45  Alcohol licence until 5:00 (extension available)   28 non-null     object
 46  Alcohol licence until 3:00 (extension available)   125 non-null    object
 47  Alcohol licence until 0:00 (extension available)   437 non-null    object
 48  Alcohol licence until 2:00 (extension available)   157 non-null    object
 49  Alcohol licence until 22:30                        52 non-null     object
 50  Alcohol licence until 22:00                        22 non-null     object
 51  Alcohol licence until 2:00                         142 non-null    object
 52  Alcohol licence until 22:30 (extension available)  16 non-null     object
 53  Alcohol licence until 3:00                         89 non-null     object
 54  Alcohol licence until 0:30 (extension available)   26 non-null     object
 55  Alcohol licence until 4:00                         22 non-null     object
 56  Alcohol licence until 23:30                        96 non-null     object
 57  Alcohol licence until 23:30 (extension available)  82 non-null     object
 58  Alcohol licence until 21:30                        10 non-null     object
 59  Alcohol licence until 4:00 (extension available)   16 non-null     object
 60  Alcohol licence until 2:30                         8 non-null      object
 61  Alcohol licence until 0:30                         36 non-null     object
 62  Alcohol licence until 22:00 (extension available)  18 non-null     object
 63  Alcohol licence until 5:00                         4 non-null      object
 64  Alcohol licence until 21:00 (extension available)  9 non-null      object
 65  Alcohol licence until 2:30 (extension available)   3 non-null      object
 66  Alcohol licence until 21:00                        7 non-null      object
 67  Alcohol licence until 1:30 (extension available)   2 non-null      object
 68  Wi-Fi                                              4761 non-null   bool
 69  Projector                                          4761 non-null   bool
 70  Flipchart                                          4761 non-null   bool
 71  Natural light                                      4761 non-null   bool
 72  Flatscreen TV                                      4761 non-null   bool
 73  Whiteboard                                         4761 non-null   bool
 74  Conference call facilities                         4761 non-null   bool
 75  Air conditioning                                   4761 non-null   bool
 76  Storage space                                      4761 non-null   bool
 77  Accommodation available                            4761 non-null   bool
 78  Parking available                                  2667 non-null   object
 79  Own music allowed                                  4761 non-null   bool
 80  Bring your own DJ                                  4761 non-null   bool
 81  PA system / music speakers available               4761 non-null   bool
 82  Wheelchair accessible                              4761 non-null   bool
 83  Promoted / ticketed events                         4761 non-null   bool
 84  Loud music / events                                4761 non-null   bool
 85  Wedding licence                                    4761 non-null   bool
 86  Temporary event notices (TENs) available           4761 non-null   bool
 87  Paid parking facilities available nearby           1186 non-null   object
 88  Disabled access toilets                            873 non-null    object
 89  Ground level                                       628 non-null    object
 90  Lift to all floors                                 919 non-null    object
 91  Free parking is available on-site                  726 non-null    object
dtypes: bool(19), float64(11), int64(12), object(50)
memory usage: 2.7+ MB

In [51]:
venues.describe(include = 'all')

                                                space_url  ... Free parking is available on-site
count                                                4761  ...                               726
unique                                               4761  ...                                 1
top     https://www.tagvenue.com/rooms/london/19171/th...  ...                              True
freq                                                    1  ...                               726
mean                                                  NaN  ...                               NaN
std                                                   NaN  ...                               NaN
min                                                   NaN  ...                               NaN
25%                                                   NaN  ...                               NaN
50%                                                   NaN  ...                               NaN
75%                                                   NaN  ...                               NaN
max                                                   NaN  ...                               NaN

[11 rows x 92 columns]

In [52]:
venues.head()

                                           space_url  ... Free parking is available on-site
0  https://www.tagvenue.com/rooms/london/19171/th...  ...                               NaN
1  https://www.tagvenue.com/rooms/london/21285/go...  ...                               NaN
2  https://www.tagvenue.com/rooms/london/1044/gra...  ...                               NaN
3  https://www.tagvenue.com/rooms/london/4056/aqu...  ...                               NaN
4  https://www.tagvenue.com/rooms/london/26534/pe...  ...                               NaN

[5 rows x 92 columns]

In [ ]:
alreadsy checked bl;ah blah balh, not going to do it again...